@model HGGM.Models.Events.Event

@{
    ViewData["Title"] = "Create";
}


<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name">Event Name</label>
            <input asp-for="Name" class="input" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="TakesPlace">Date</label>
            <input asp-for="TakesPlace" type="text" id="demogg" class="input" />
            <span asp-validation-for="TakesPlace"></span>

        </div>
        <div>
            <input type="text" id="demo" />
        </div>
    </form>
</div>

<div>
    <a asp-action="PublishedIndex">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#demo').datetimepicker({
            inline: true
        });
    </script>
}



