@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Identity.Role

@{
    ViewData["Title"] = "Create";
}

<h2>@L["createPageTitle"]</h2>

<h4>@L["rolePageUnderTitle"]</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>

            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" class="input" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <button type="submit" id="SubmitCreate">Create</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@L["backToListButton"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
