@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Identity.Role

@{
    ViewData["Title"] = L["tabTitle"];
}

<h2>@L["editPageTitle"]</h2>

<h4>@Model.Name</h4>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="field">
                <div class="control">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="input" type="text" />
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="field is-grouped">
                <button id="Button_Save" type="submit" class="button is-link">Save</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@L["backToListButton"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
