@model IEnumerable<HGGM.Models.Identity.Role>

@{
    ViewData["Title"] = "Index";
}

<h2>View</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" >
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <td>
                @item.Name
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        
}

    </tbody>
</table>
