@using Microsoft.AspNetCore.Mvc.Localization

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .columns {
        background-color: #f5f5f5;
        border-radius: 4px;
        color: #7a7a7a;
        font-weight: 600;
        padding: 1.25rem 0;
        position: relative;
        text-align: center;
    }
</style>

<div class="columns" style="margin-top: 2rem">
    <div class="column is-one-fifth">
        <div class="column">
            <p class="bd-notification is-primary">1 column</p>
        </div>
        <div class="column">
            3 column
        </div>
    </div>
    <div class="column">
        <div class="column">
            2 column
        </div>
    </div>
    <div class="column is-one-fifth">
        <div class="column">
            3 column
        </div>
        <div class="column">
            3 column3
        </div>
    </div>
</div>