@page
@using Microsoft.AspNetCore.Mvc.Localization
@model AccessDeniedModel
@inject IViewLocalizer Localize
@{
    ViewData["Title"] = Localize["pageTitle"];
}

<section class="hero is-danger">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                @Localize["title"]
            </h1>
            <h2 class="subtitle">
                @Localize["subtitle"]
            </h2>
        </div>
    </div>
</section>