@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner && Context.Request.Path != "/Home/Privacy")
{
    <nav id="cookieConsent" class="navbar" role="alert">
        <div class="modal is-active" id="modal-bis">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <div class="title">
                        <h3 class="title is-3 has-text-weight-bold">
                            <i class="fas fa-info-circle"></i>
                            Privacy & Data
                        </h3>
                    </div>
                </header>
                <section class="modal-card-body">
                    <h5 class="subtitle is-5">
                        This website uses cookies to ensure you get the best experience.
                    </h5>
                    <div class="navbar-end">
                        <a asp-controller="Home" asp-action="Privacy" class="button is-white">Learn More</a>
                        <button type="button" class="button is-info" data-cookie-string="@cookieString">Accept</button>
                    </div>
                </section>
            </div>
        </div>
    </nav>



    <script>
        $(document).ready(function() {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click",
                function(el) {
                    document.cookie = el.target.dataset.cookieString;
                    $("#cookieConsent").addClass("hidden");
                    $("#modal-bis.is-active").removeClass("is-active");
                },
                false);
        });
    </script>
}