@using HGGM.Models.Identity
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="ManagmentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </a>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" asp-controller="Manage" asp-action="Index"><i class="fa fa-fw fa-user"></i> Profile</a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
            </li>
        </ul>
    </li>
}
else
{
    <div class="buttons">
           <a class="button is-primary" asp-controller="/identity/account" asp-action="Register">
                <strong>Register</strong>
            </a>
            <a class="button is-light" asp-controller="/identity/account" asp-action="Login">
                Log in
            </a>
    </div>
}