@using Microsoft.AspNetCore.Mvc.Localization
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@inject IViewLocalizer lang

<h2>@lang["manage"]</h2>

<div>
    <hr />
    <div class="columns">
        <div class="column is-one-quarter">
            <partial name="_ManageNav" />
        </div>
        <div class="column">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
