@page
@using Microsoft.AspNetCore.Mvc.Localization
@model DeletePersonalDataModel
@inject IViewLocalizer lang
@{
    ViewData["Title"] = lang["title"];
    ViewData["ActivePage"] = ManageNavPages.DeletePersonalData;
}

<h3 class="title is-3">@ViewData["Title"]</h3>

<div class="notification is-warning">
    <strong>@lang["description"]</strong>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="All" class="is-danger"></div>
        @if (Model.RequirePassword)
        {
            <div>
                <label>@lang["password"]</label>
                <input asp-for="Input.Password" class="input" />
                <span asp-validation-for="Input.Password" class="is-danger"></span>
            </div>
        }
        <button class="button is-link" type="submit">@lang["confirmButton"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}