@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer L
@model HGGM.Models.Tag

@{
    ViewData["Title"] = "Create";
}

<h2>@L["createPageTitle"]</h2>

<h4>@L["tagPageUnderTitle"]</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="TagName">Tag Name</label>
                <input asp-for="TagName"/>
                <span asp-validation-for="TagName"></span>
            </div>
            <div>
                <button type="submit" id="SubmitCreate">@L["tagCreateButton"]</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@L["backToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
